@model CreateProductVM
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Product</h4>
        <div class="row">
            <div class="col-md-12">

                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">New Product Addition</div>
                        </div>                     
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Product Name</label>
                                <input asp-for="ProductName" type="text" class="form-control" id="productname">
                            </div>
                            
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input asp-for="Price" type="text" class="form-control" id="price">
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Image Url</label>
                                <input asp-for="ImageUrl" type="text" class="form-control" id="imageUrl">
                            </div>
                            <div class="form-group">
                                <label for="productstatus">Product Status</label>
                                <input asp-for="ProductStatus" type="text" class="form-control" id="productstatus">
                            </div>
                            <div class="form-group">
                                <label for="categoryid">Category Name</label>
                               @*  <input asp-for="CategoryID" type="text" class="form-control" id="categoryid"> *@
                               @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary">Add Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


