@model CreateDiscountVM
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Discount</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">New Discount Addition</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="discounttitle">Title</label>
                                <input asp-for="Title" type="text" class="form-control" id="discounttitle">
                            </div>
                            <div class="form-group">
                                <label for="discountamount">Amount</label>
                                <input asp-for="Amount" type="text" class="form-control" id="discountamount">
                            </div>
                            <div class="form-group">
                                <label for="discountdescription">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="discountdescription" />
                            </div>
                            <div class="form-group">
                                <label for="discountimageurl">Image Url</label>
                                <input asp-for="ImageUrl" type="text" class="form-control" id="discountimageurl"/>
                            </div>

                        </div>
                        <div class="card-action">
                            <button asp-controller="Discount" asp-action="CreateDiscount" class="btn btn-primary">Add Discount</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


