@model List<ResultSocialMediaVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Social Media</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Social Media List </div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can do proceesses for SOCIAL MEDIA from below.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Url</th>
									<th scope="col">Icon</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th>@count</th>
										<td>@item.Title</td>
										<td>@item.Url</td>
										<td>@item.Icon</td>
										<td><a class="btn btn-outline-danger" asp-controller="SocialMedia" asp-action="DeleteSocialMedia" asp-route-id=@item.SocialMediaID>Delete</a></td>
										<td><a class="btn btn-outline-success" asp-controller="SocialMedia" asp-action="UpdateSocialMedia" asp-route-id=@item.SocialMediaID>Update</a></td>

									</tr>
								}

							</tbody>
						</table>
						<a asp-controller="SocialMedia" asp-action="CreateSocialMedia" class="btn btn-outline-primary">Add New Social Media</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
