@model CreateRestaurantTableVM
@{
    ViewData["Title"] = "CreateRestaurantTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Restaurant Table</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">New Restaurant Table Addition</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Table Name</label>
                                <input asp-for="Name" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="card-action">
                            <button asp-controller="RestaurantTables" asp-action="CreateRestaurantTable" class="btn btn-primary">Add Table</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


